/*---------- contacts ----------*/
.contacts {
  position: relative;
  min-height: 100vh;
  background: #1c262b;

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $tablet-portrait) {
  .contacts {

  }
}

@media (min-width: $tablet-landscape) {
  .contacts {

  }
}
/*---------- /contacts ---------*/