/*---------- logo ----------*/
.logo {
  display: flex;
  justify-content: center;
  height: 40px;

  svg {
    height: 100%;
  }
}

@media (min-width: $tablet-portrait) {
  .logo {
    height: 130px;
    padding: 10px;
  }
}

@media (min-width: $tablet-landscape) {
  .logo {

  }
}
/*---------- /logo ---------*/