/*---------- logo ----------*/
.logo {
  display: flex;
  justify-content: center;
  height: 130px;
  padding: 10px;

  svg {
    height: 100%;
  }
}

@media (min-width: $tablet-portrait) {
  .logo {

  }
}

@media (min-width: $tablet-landscape) {
  .logo {

  }
}
/*---------- /logo ---------*/