/*---------- pages ----------*/
.pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
  transition: transform .3s ease-in-out;

  &__item {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &.hidden {
      transform: translate( 100%, 100% );
    }

    &.from-bottom {
      animation-name: from-bottom;
    }

    &.from-top {
      animation-name: from-top;
    }
    &.to-bottom {
      animation-name: to-bottom;
    }
    &.to-top {
      animation-name: to-top;
    }

  }
}

.menu-open .pages {
  pointer-events: none;
  transform: translate(120px,0);
}

@media (min-width: $phone-landscape) {
  .pages {

  }
}
@media (min-width: $tablet-portrait) {
  .pages {

  }
}
@media (min-width: $tablet-landscape) {
  .pages {

  }

  .menu-open .pages {
    pointer-events: fill;
    transform: translate(0,0);
  }

}
@media (min-width: $desktop) {
  .pages {

  }
}
/*---------- /pages ---------*/