.site {
  font-family: sans-serif;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    height: 50px;
    color: rgba(225, 246, 255, 0.3);
    background: #1c262b;
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

    &__header {
      height: 100%;
      width: 120px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

