/*---------- social ----------*/
.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 10px;

    svg {
      fill: #fff;
      transition: fill .15s ease-in-out;
    }

    &:hover svg {
      fill: #fcd088;
    }
  }
}

@media (min-width: $tablet-landscape) {
  .social {

    &__item {
      width: 44px;
      height: 44px;
      margin: 18px 15px;
    }
  }
}
/*---------- /social ---------*/