/*---------- title ----------*/
.title {
  position: relative;
  padding: 50px;
  z-index: 2;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #656D6D;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;

  &.title_transparent { background: transparent }

  &.title_light {
    color: #fff;

    h2 {
      color: #fff;

      span {
        &:before,
        &:after { background: #fff }
      }
    }
  }

  h2 {
    position: relative;
    margin: 0 0 50px;
    z-index: 2;
    font-size: 36px;
    line-height: normal;
    font-weight: 100;
    text-align: center;
    color: #556677;
    text-transform: uppercase;

    &:before {
      @include absoluteCenterX();
      width: 6px;
      height: 6px;
      bottom: -18px;
      border-radius: 3px;
      background-color: #d2d8da;
      box-sizing: border-box;
      content: '';
    }

    span {

      &:before {
        position: absolute;
        left: calc(50% - 40px);
        width: 30px;
        height: 1px;
        bottom: -15px;
        background-color: rgba(92, 98, 101, 0.3);
        content: '';
      }

      &:after {
        position: absolute;
        right: calc(50% - 40px);
        width: 30px;
        height: 1px;
        bottom: -15px;
        background-color: rgba(92, 98, 101, 0.3);
        content: '';
      }
    }
  }
}

@media (min-width: $tablet-portrait) {
  .title {

  }
}

@media (min-width: $tablet-landscape) {
  .title {
    padding: 50px;

    h2 {
      margin: 0 0 75px;
      z-index: 2;
      font-size: 36px;
    }
  }
}
/*---------- /title ---------*/