.websters-select {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 22px;
  border: 1px solid $websters-select-border;

  &_opened {

    .websters-select__arrow {
      transform: rotate(180deg);
    }

  }

  &__arrow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    transform-origin: center;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;

    &:after,
    &:before {
      position: absolute;
      top: 9px;
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: $websters-select-border;
      content: '';
    }

    &:after {
      left: 4px;
      transform: rotate(70deg);

    }

    &:before {
      right: 3px;
      transform: rotate(-70deg);

    }
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 5px;
    padding: 1px 5px 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid $websters-select-border;
    background: $websters-select-popup-back;

    ul {
      z-index: 1;
    }

    li {
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        color: $websters-select-popup-item-active-color;
        background: $websters-select-popup-item-active-back;
      }

      &.active {
        color: $websters-select-popup-item-active-color !important;
        background: $websters-select-popup-item-active-back !important;
      }

    }

  }

}
